@using ExampleImplementation.Website.Models.ViewModels

@model PaggingControlViewModel

@{
    Int32 startingPageIndex = 0;
    Int32 endingPageIndex = Model.PageCount - 1;
    Int32 halfMaximumPageLinks = (Int32)Math.Floor(Model.MaximumPageLinks/2M);

    if (Model.PageCount > Model.MaximumPageLinks)
    {
        if (Model.PageIndex > halfMaximumPageLinks)
        {
            startingPageIndex = Model.PageIndex - halfMaximumPageLinks;
        }

        if (startingPageIndex + (Model.MaximumPageLinks - 1) < Model.PageCount)
        {
            endingPageIndex = startingPageIndex + (Model.MaximumPageLinks - 1);
        }

        Int32 possibleStartingPageIndex = (endingPageIndex - Model.MaximumPageLinks) + 1;
        if (possibleStartingPageIndex >= 0)
        {
            startingPageIndex = possibleStartingPageIndex;
        }
    }

}

@if (Model.PageCount > 1)
{
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @if (Model.PreviousPageIndex.HasValue)
            {
                <li class="page-item">
                    <a class="page-link" asp-area=""
                       asp-controller="@Model.Controller" asp-action="@Model.Action"
                       asp-route-id="@Model.RouteId"
                       asp-route-pageIndex="0"
                       asp-route-pageSize="@Model.PageSize">First..</a>
                </li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link" href="#">First..</a></li>
            }

            @if (Model.PreviousPageIndex.HasValue)
            {
                <li class="page-item">
                    <a class="page-link" asp-area=""
                       asp-controller="@Model.Controller" asp-action="@Model.Action"
                       asp-route-id="@Model.RouteId"
                       asp-route-pageIndex="@Model.PreviousPageIndex.Value"
                       asp-route-pageSize="@Model.PageSize">Previous</a>
                </li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            }

            @for (Int32 iPageIndex = startingPageIndex; iPageIndex <= endingPageIndex; iPageIndex++)
            {
                if (iPageIndex == Model.PageIndex)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">@(iPageIndex + 1)</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-area=""
                           asp-controller="@Model.Controller" asp-action="@Model.Action"
                           asp-route-id="@Model.RouteId"
                           asp-route-pageIndex="@iPageIndex"
                           asp-route-pageSize="@Model.PageSize">@(iPageIndex + 1)</a>
                    </li>
                }
            }

            @if (Model.NextPageIndex.HasValue)
            {
                <li class="page-item">
                    <a class="page-link" asp-area=""
                       asp-controller="@Model.Controller" asp-action="@Model.Action"
                       asp-route-id="@Model.RouteId"
                       asp-route-pageIndex="@Model.NextPageIndex.Value"
                       asp-route-pageSize="@Model.PageSize">Next</a>
                </li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            }

            @if (Model.NextPageIndex.HasValue)
            {
                <li class="page-item">
                    <a class="page-link" asp-area=""
                       asp-controller="@Model.Controller" asp-action="@Model.Action"
                       asp-route-id="@Model.RouteId"
                       asp-route-pageIndex="@(Model.PageCount-1)"
                       asp-route-pageSize="@Model.PageSize">...Last</a>
                </li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link" href="#">...Last</a></li>
            }
        </ul>
    </nav>
}